:root {
    --col-bg: #e5d4ff;
    --col-bg-light: #e0e0e0;
    --col-bg-lighter: #c096ff;
    --col-primary: #9146ff;
    --col-primary-dark: #634e83;
    --col-primary-light: #c096ff;
    --col-shadow: rgba(0, 0, 0, 0.25);
}

/* Estilos para OBS TTS player */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #111;
    font-family: Arial, sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

#message-display {
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 5px;
    max-width: 80%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#message-display.visible {
    opacity: 1;
}

.username {
    font-weight: bold;
    color: #9147ff;
    margin-right: 5px;
}

/* Botón de login con Twitch */
#loginWithTwitchButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #6441a5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

#loginWithTwitchButton:hover {
    background-color: #9147ff;
}

/* Información del usuario */
#userInfo {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#userInfo span {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/* Estilos para el enlace generado */
#generated-link {
    margin-top: 30px;
    text-align: center;
}

#ttsLink {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
  
.hidden {
    display: none;
}
